{% extends 'base.html' %} {% block content %}

<script>
  $(document).ready(function() {
    $('#majorcategories').on('change', function() {
      $('#subcategories').prop('disabled', false)
      $('#subcategories').children().remove()
      $('#subcategories').append($("<option class='default' hidden>중분류</option>"))
      
      if($(this).val() == "상의") {
          $('#subcategories').append($("<option value='1'>One</option>"))
          $('#subcategories').append($("<option value='2'>Two</option>"))
          $('#subcategories').append($("<option value='3'>Three</option>"))
      } else {
          $('#subcategories').append($("<option value='4'>Four</option>"))
          $('#subcategories').append($("<option value='5'>Five</option>"))
          $('#subcategories').append($("<option value='6'>Six</option>"))
      }     
  })
  })
</script>

<form id ="cody_form" method="post" action="/cody/result">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="height">나이</label>
      <input type="text" class="form-control" name="age" id="age" placeholder="나이" />
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-1 pt-0">성별</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="gender1"
            value="남자"
            checked
          />
          <label class="form-check-label" for="gender1"> 남자 </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="gender2" value="여자" />
          <label class="form-check-label" for="gender2"> 여자 </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="height">신장</label>
      <input type="text" class="form-control" name="height" id="height" placeholder="신장" />
    </div>
    <div class="form-group col-md-6">
      <label for="weight">체중</label>
      <input type="text" class="form-control" name="weight" id="weight" placeholder="체중" />
    </div>
  </div>
  <div class="form-group-row">
    <select id="majorcategories" name="majorcategories" class="form-select" aria-label="Default select example">
      <option hidden>대분류</option>
      <option value="상의">상의</option>
      <option value="하의">하의</option>
    </select>
    <select id="subcategories" name="subcategories" class="form-select" aria-label="Default select example" disabled>
      <option hidden>중분류</option>
    </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" id="submit" class="btn btn-primary">Post</button>
    </div>
  </div>
</form>

{% endblock %}
